<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a routerLink="empregados" routerLinkActive="active" class="btn btn-outline-light">Lista de empregados</a>
        </li>
        <li class="navbar-item">
            <a routerLink="adicionar-empregado" routerLinkActive="active" class="btn btn-outline-light">Adicionar
                empregados</a>
        </li>
    </ul>
</nav>

<h1 class="text-center">{{title}}</h1>

<hr>
<br>

<div class="container">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="container">
        <span>Todos direitos reservados 2021 @ClaudioNogueira</span>
    </div>
</footer>