<h2 class="text-center">Lista de Empregados</h2>

<br>

<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Email</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let empregado of empregados">
            <td>{{empregado.id}}</td>
            <td>{{empregado.nome}}</td>
            <td>{{empregado.sobrenome}}</td>
            <td>{{empregado.email}}</td>
            <td>
                <button (click)="atualizarEmpregado(empregado.id)" class="btn btn-info">Editar</button>
                <button (click)="excluirEmpregado(empregado.id)" class="btn btn-danger">Excluir</button>
            </td>
        </tr>
    </tbody>

</table>