<div class="col-md-6 offset-md-3">

    <h3 class="text-center">Editar dados de empregado</h3>

    <br>

    <form (ngSubmit)="enviar()">
        <div class="form-group">
            <label for="Nome">Nome</label>
            <input type="text" name="Nome" id="Nome" class="form-control" [(ngModel)]="empregado.nome">
        </div>

        <br>

        <div class="form-group">
            <label for="Sobrenome">Sobrenome</label>
            <input type="text" name="Sobrenome" id="Sobrenome" class="form-control" [(ngModel)]="empregado.sobrenome">
        </div>

        <br>

        <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" name="Email" id="Email" class="form-control" [(ngModel)]="empregado.email">
        </div>

        <br>

        <button type="submit" class="btn btn-success">Atualizar</button>
    </form>
</div>